alembic==1.13.3
boto3==1.35.38
botocore==1.35.38
Flask==3.0.3
Flask_Bcrypt==1.0.1
Flask_Cors==5.0.0
Flask_Login==0.6.3
Flask_Migrate==4.0.7
flask_sqlalchemy==3.1.1
itsdangerous==2.2.0
oauthlib==3.2.2
Pillow==11.0.0
psycopg2-binary==2.9.9
PyJWT==2.9.0
python-dotenv==1.0.1
Requests==2.32.3
SQLAlchemy==2.0.36
Werkzeug==3.0.4
